.wrapper {
  position: absolute;
  top: 20%;
  left: 0;
  transform: translate(30%, 10%);
  background: rgba(103, 201, 0, 0.13);
  backdrop-filter: blur(25px);
  border-radius: 100px 20px;
  padding: 20px;
}
.wrapper .submit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  border-radius: 8px;
}
.login {
  background-color: unset;
  border: none;
}
.pic img {
  width: 600px;
  margin-top: 3rem;
}
